body, h1, h2, h3, h4, label, input, ul, li {
  margin: 0;
}
ul, li {
  list-style: none;
}
body {
  font: 500 1rem 'Nunito', sans-serif;
  background: #d0dbd7;
}
.header {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}
.header h1 {
  margin-bottom: 10px;
  font: 400 3rem 'Fraunces', serif; 
  color: #9c8059;
  font-weight: bold;
}
.header h2 {
  font: 600 1.4rem 'Fraunces', serif;
  font-style: italic;
  color: #3d2606;
}
.btn, 
.btn-selecionar {
  background: #C69E4B;
  border: none;
  padding: 10px 20px;
  font: 400 1rem 'Nunito', sans-serif;
  color: #542e0d;
  cursor: pointer;
  display: block;
  border: 2px solid;
  font-weight: bold;
}
.btn-selecionar {
  background: #c79da7;
  color: #521725;
  text-align: center;
  margin-bottom: 10px;
  width: 84px;
}
.btn:hover,
.btn-selecionar:hover {
  background: #e8dbc1;
}
.btn-selecionar:hover {
  background: #dec3c9;
}
.escreve-texto {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 30px;
  margin-bottom: 40px;
}
.texto {
  grid-column: 1/-1;
}
.escreve-texto input,
.escreve-texto textarea {
  padding: 20px;
  border:  3px solid #fff;
  background: #b5c7c0;
  box-shadow: 8px 8px #fff;
  color: #020807;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
.personaliza, 
.estilo-geral {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}
.estilo-texto form {
  margin-bottom: 10px;
}

.grid-estilo {
  display: grid;
  grid-template-columns: 50px 150px min-content 110px;
  align-items: center;
  gap: 10px;
}
.estilo-texto h3 {
  font: 600 1.125rem 'Nunito', sans-serif;
}
.estilo-texto select,
.estilo-texto input {
  border:  2px solid #fff;
  padding: 5px;
  background: #75968a;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}
.estilo-texto input::placeholder {
  color: #fff;
}
input[type="file"] {
  display: none;
}

#galeria {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 15px;
  margin-bottom: 40px;  
}
/* .download {
  margin: 0 auto;
  margin-bottom: 40px;
} */
.copy {
  text-align: center;
  margin-bottom: 20px;
}

/* estilo div */

.estilo-geral {
  margin: 40px auto;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 100px;
}
.titulo-geral {
  margin-bottom: 20px;
}
.texto-geral {
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .escreve-texto,
  .personaliza, 
 .estilo-geral,
 #galeria {
    max-width: 500px;
  }

  #galeria {
    gap: 10px;
  }
  .personaliza {
    grid-template-columns: 1fr;
  }
  .btn-selecionar {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .escreve-texto,
  .personaliza, 
 .estilo-geral,
 #galeria {
    max-width: 350px;
  }
  .escreve-texto {
    grid-template-columns: 1fr;
  }
  .grid-estilo {
    grid-template-columns: 40px 120px min-content 90px;
  }
}